
<template>

</template>

<script>
    export default {

        data(){
            return {
                latitude : 40.759532,
                longitude :  -73.988043,
                 zoom: 16,
                markers: [],
                api_base_url: '/api/map_data/',
            }
        },

        created(){
            this.getMapData();

            //this.buildMarkers();
        },

        watch: {
            markers: function () {
                this.clearMarkers();
                this.resetMapCenter();
                this.buildMarkers();
            }

        },


        mounted(){

            this.map = new google.maps.Map(document.getElementById('map-view'), {
                center: {lat: this.latitude, lng: this.longitude},
                zoom: 16,

            });
            var marker = new google.maps.Marker({
                position: this.map.center,
                map: this.map,
                icon: "/images/user.png",
            });

        },

        methods: {
            getMapData: function () {
                var shop_id =  window.location.pathname.split('/')[2];
                var app = this;
                var api_url = this.api_base_url;
                if(shop_id) {
                    var api_url = '/api/map_data/'+shop_id;
                    $.getJSON(api_url).then(function (response) {
                        app.markers = response;
                    });
                }else{
                    var api_url = this.api_base_url+this.latitude+"/"+this.longitude;
                    $.getJSON(api_url).then(function (response) {
                        app.markers = response;
                    });
                }

            },

            buildMarkers(){
                var markers_available = this.markers.length;
                console.log(markers_available);
                if(markers_available > 0) {
                    for(var i = 0; i < 50; i++) {
                        var marker = new google.maps.Marker({
                            position: {
                                lat: parseFloat(this.markers[i].latitude),
                                lng: parseFloat(this.markers[i].longitude)
                            },
                            map: this.map,
                        });
                    }
                }
            },

            resetMapCenter(){
                var shop_id =  window.location.pathname.split('/')[2];
                if(shop_id) {
                    var markers_available = this.markers.length;
                    this.map = new google.maps.Map(document.getElementById('map-view'), {
                        center: {lat: this.markers[markers_available - 1].latitude, lng: this.markers[markers_available - 1].longitude},
                        zoom: 14,

                    });
                    var marker = new google.maps.Marker({
                        position: this.map.center,
                        map: this.map,
                        icon: "/images/venue_marker.png",
                    });
                }
            },

            clearMarkers(){
                   this.map.clearMarkers;
            },

            getIDfromURL(){
                window.location.pathname.split('/')[2];
            }


        }
    }
</script>