
<template>

    <div class="row">

                <div class="list-container" v-for="shop, index in shops">
                    <a :href="'/shop/'+ shop.id">
                        <div class="item">
                        <div class="name">{{ shop.name }}</div>
                        <div class="address">Address</div>
                        <div class="address-detail"> {{ shop.street}}, {{ shop.city}} </div>
                        <div class="location"><i class="fa fa-map-marker"></i> {{shop.distance}} miles.</div>
                        </div>

                    </a>
                </div>

<!--//pagination-->
        <ul class="pagination">
            <li v-if="current_page > 1">
                <a href="javascript:void(0)" aria-label="Previous" v-on:click.prevent="getShops(current_page - 1)">
                    <span aria-hidden="true">«</span>
                </a>
            </li>

            <li v-for="index in per_page" :class="{'active': index == current_page}">
                <a href="javascript:void(0)" aria-label="" v-on:click.prevent="getShops(index)">{{ index }}</a>
            </li>
            <li v-if="current_page < page_to">
                <a href="javascript:void(0)" aria-label="Next" v-on:click.prevent="getShops(current_page + 1)">
                    <span aria-hidden="true">»</span>
                </a>
            </li>
        </ul>
        <!--//pagination-->
        </div>

</template>

<script>
    export default {

        data() {
            return{
                shops:[],
                current_page: null,
                page_to: null,
                per_page: null,
                api_base_url: 'api/api_shops/40.759532/-73.988043?page=',
            }
        },

        created() {
            this.getShops(0);
        },

        watch: {
            shops: function(){
                this.getDistance();
            }
        },

        methods: {
            getShops: function(page){
                var app = this;
                if (typeof page === 'undefined') {
                    page = 1;
                }
                var page_url = this.api_base_url + page;
                $.getJSON(page_url).then(function(response) {
                    app.shops = response.data;
                    app.current_page = response.current_page;
                    app.page_to = response.to;
                    app.per_page = response.per_page;
                }.bind());

            },

            getDistance(){
                var shops = this.shops.length;
                if(shops > 0) {
                    for(var i = 0; i < shops; i++) {
                        this.shops[i]['distance'] = (this.shops[i]['distance']).toFixed(3);
                    }
                }
            },

        },

        mounted(){
        }

    }
</script>