

#map-view{
  width: 100%;
  height: 600px;
}

.main-container{

}

.sb-footer {
  margin-top: 20px;
  padding: 10px;
  color: white;
  background: #333;

  p{
    margin: 0;
  }
}

.top-bar{
  height:60px;
  background: $sb-default;
  .title{
      font-size: 26px;
      font-weight: 500;
      padding-top: 10px;
      text-align: left;
    a{
      color: white;
    }
  }

  .nav-link{
    a{
      color: white;
      text-decoration: none;
      padding-top: 20px;
    }
    a:hover{
      color: black;
    }
  }
}

@media all and (max-width: 480px){
  .sb-footer {
    margin-top: 0;
  }
}

@media all and (max-width: 320px){
  #map-view{
    height: 450px;
  }
}

//List View Style
.list-container{
  font-family: 'Roboto';
  background-color: white;
  a{
    text-decoration: none;
    color: #333;
    display: block;
    padding: 15px 0 0;
    .item{
      padding: 0px 15px 15px;
      border-bottom: 1px solid #dddddd;
      .name {
        font-size: 20px;
        font-weight: 500;
      }
      .address{
        font-size: 12px;
        color: #888;
        text-decoration: underline;
      }
      .address-detail {
        font-size: 16px;
      }
      .location {
        font-size: 16px;
      }
      i{
        color: #888;
      }
    }
  }
  a:hover{
    background-color: #ededed;
  }
}

.pagination{
  border-radius: 0;
  margin:20px 0;
  width: 100%;
  background: white;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: $sb-default;
  border-radius: 0;
  border-color: $sb-default;

}

.pagination > li:first-child > a, .pagination > li:first-child > span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0
}

.pagination > li > a, .pagination > li > span {
  border: 0;
  padding: 10px 15px;

}

@media all and (max-width: 480px){
  .pagination > li > a, .pagination > li > span {
    border: 0;
    padding: 6px 12px;

  }
}